# Environments
.venv/
.python-version

# Python internals
**/__pycache__/
*.pyc
STYLEGUIDE.md
AGENTS.md
checklist.md

# Data folders
data/transactions
data/blockchain
data/real_estate

# Secrets
src/file_paths/token.txt
